Package: cgtools
Version: 00.90.53
Architecture: amd64
Maintainer: Vicente Aceituno Canal <vpn@cableguard.org>
Installed-Size: 200
Depends: libc6 (>= 2.34)
Section: unknown
Priority: optional
Homepage: <https://www.cableguard.org>
Description: wg tools that selects vpn servers and creates NEAR key pairs
 with one extra option 'genaccount' to generate NEAR protocol implicit account json files with the account
