Package: cgtools-dbgsym
Package-Type: ddeb
Source: cgtools
Version: 00.90.51
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vicente Aceituno Canal <vpn@cableguard.org>
Installed-Size: 24
Depends: cgtools (= 00.90.51)
Section: debug
Priority: optional
Description: debug symbols for cgtools
Build-Ids: fb954e2c66b2bd984aa96709a720e00f9c446890
