Package: cgtools-dbgsym
Package-Type: ddeb
Source: cgtools
Version: 00.90.54
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vicente Aceituno Canal <vpn@cableguard.org>
Installed-Size: 24
Depends: cgtools (= 00.90.54)
Section: debug
Priority: optional
Description: debug symbols for cgtools
Build-Ids: 592732a673e5faa05641f09d65328b0195762aca
