Package: cgtools-dbgsym
Package-Type: ddeb
Source: cgtools
Version: 00.90.53
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vicente Aceituno Canal <vpn@cableguard.org>
Installed-Size: 24
Depends: cgtools (= 00.90.53)
Section: debug
Priority: optional
Description: debug symbols for cgtools
Build-Ids: c020716d78320a303f9a33b24752b0675ede2b0d
